.parent-cell {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.child-containter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 204px;
}
